//Page principale container principal
.main__content--home {
	padding-top: 3em;
	@include dispoCenter;
}
//Design alerte javascript désactivé
.noscript {
	background-color: $color-danger;
	color: $color-text;
	height: 4em;
}


//Page Produit : conteneur global des articles
.container__boxPolaroid--flex {
	@include dispoCenter;
	width:100%;
	@media all and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}



//Container du panier rempli
.container__cart {
	width: 100%;
	padding:5%;
	// @include dispoCenter;
}
//contenant pour chaque article
.article__cart {
	margin: 5%;
	padding: 1em 0;
	margin-bottom: 3em;
	border-bottom: 1px solid $color-border;
	border-top: 1px solid $color-border;
	@media all and (min-width: 768px) {
	display: flex;
	}
}
//Contenant photo
.subContent__cart--photo {
	width: 20%;	
}
//Contenant descriptif article
.subContent__cart--article {
	padding-bottom: 1em;
	@media all and (min-width:768px) {
	width: 60%;	
	}
}
// contenant quantité et bouton supprimer
.subContent__cart--quantity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@media all and (min-width:768px) {
	width: 40%;	
	}
}
.countItems__cart, .removeFromCart {
	@include btnDesign;
	@include mainDesign;
}
.subContent__cart--total{
	display: flex;
	flex-direction: column;
	padding: 0 10%;
	width: 100%;
}

//Page panier et page produit
.main__content--cart,
.main__content--product {
	padding-top: 3em;
	@include dispoCenter;
}

//contenant des images
.box__link--polaroid {
	@include designBox;
	margin: 2em 0;
	color: $color-text;
	@include dispoCenter;
	@media all and (min-width: 768px) {
		max-width: 300px;
		margin: 2em;
	}
	@media all and (min-width: 900px) {
		max-width:400px;
	}
}