.noscript {
	background-color: $color-danger;
	color: $color-text;
	height: 4em;
}


//Page principale
.main__content--home {
	padding-top: 3em;
	@include dispoCenter;
}

//Page panier et page produit
.main__content--cart,
.main__content--product {
	padding-top: 3em;
	@include dispoCenter;
}




//conteneur global des articles
.container__boxPolaroid--flex {
	@include dispoCenter;
	width:100%;
	@media all and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

//contenant des images
.box__link--polaroid {
	@include designBox;
	margin: 2em 0;
	color: $color-text;
	@include dispoCenter;
	@media all and (min-width: 768px) {
		max-width: 300px;
		margin: 2em;
	}
	@media all and (min-width: 900px) {
		max-width:400px;
	}
}
