/* contenant du loader */
.container__loader {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url("images/background.png");
    filter: grayscale(50%);
    background-size: cover;
    background-position: 40% 60%;
    z-index: 5;
    background-color: #ececee;
    cursor: wait;
    -webkit-transition: opacity ease-in 1s, -webkit-visibility ease-in 1s;
    -moz-transition: opacity ease-in 1s, -moz-visibility ease-in 1s;
    -o-transition: opacity ease-in 1s, o-visibility ease-in 1s;
    transition: opacity ease-in 1s, visibility ease-in 1s;
}
/* animation cachée avec JS */
.container__loader.hidden {
    opacity: 0;
    visibility: hidden;
}
/* container entre le fond et le loader*/
.container__loader--blur {
    width: 100%;
    height: 100%; 
    background: rgba(212, 201, 201, 0.466);
    -webkit-backdrop-filter: sepia(0.7) contrast(0.8) blur(1px);
}
/* loader */
.loader {
    width: 120px;
    height: 120px;
    border: 16px $color-text solid;
    border-radius: 50%;
    border-top:16px solid $color-main;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: -webkit-translate(-50%, -50%) -webkit-rotate(0deg);
    -moz-transform: -moz-translate(-50%, -50%) moz-rotate(0deg);
    -o-transform: -o-translate(-50%, -50%) -o-rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-animation: loader 1.5s ease-in-out infinite;
    -moz-animation: loader 1.5s ease-in-out infinite;
    -o-animation: loader 1.5s ease-in-out infinite;
    animation: loader 1.5s ease-in-out infinite;
}
/* animation loader*/
@keyframes loader {
    100% {
        -webkit-transform: -webkit-translate(-50%, -50%) -webkit-rotate(360deg);
        -moz-transform: -moz-translate(-50%, -50%) moz-rotate(360deg);
        -o-transform: -o-translate(-50%, -50%) -o-rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);}
}
/* titre loader */
.title__loader {
    color:$color-text;
    font-size: 4em;
    font-family: $ff-title;
    font-weight: bolder;
    text-align: center;
    width:100%;
    padding-top:1em;

    @media all and (min-width: 768px) {
        padding-top:7em;
    }
    @media all and (min-width: 1024px) {
        font-size: 5em;
        padding-top: 6em;
    }
    @media all and (min-width: 1900px) {
        padding-top: 9em;
    }
}