//Design de la barre de navigation
.header__navbar {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 0.5em;
	align-items: center;
	@media all and (min-width:768px) {
		flex-direction: row;
		justify-content: space-between;
	}
}
.header__navbar--logoText {
	font-weight: 700;
	font-size: 3em;
	text-decoration: none;
	color: $color-text;
	padding-bottom: 1em;
}
