// page d'accueil container des deux boutons
.container__buttons--flex {
	width:90%;
	margin: 5%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

// bouton voir le produit
.button__seeProduct {
	@include mainDesign;
	@include btnDesign;
}
button a {
	text-decoration: none;
	color: $color-text;
}

// bouton achat rapide
.button__quickCart {
	font-size: 2em;
	padding: 1em 0 1em 1em;
}


//Bouton page produit 
.container__product--buttons {
	width: 90%;
	margin: 5%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		
	}

}
.container__product--toCart,
.container__product--homeReturn {
	@include mainDesign;
	@include btnDesign;
	margin: 1em;
}