// page d'accueil container des deux boutons
.container__buttons--flex {
	width: 90%;
	margin: 5%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

// bouton voir le produit
.button__seeProduct {
	@include mainDesign;
	@include btnDesign;
	width: 100%;
	margin-right: 5%;
}
button, a {
	cursor: pointer;
	text-decoration: none;
	color: $color-text;
	font-style: $ff-title;
	text-align: center;
}

// bouton achat rapide
.button__quickCart {
	font-size: 2em;
	padding: 1em 0 1em 1em;
	margin-right: 3%;
	cursor: pointer;
}

//Bouton page produit
.container__product--buttons {
	width: 100%;
	margin: 5%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
			align-content: center;
	}
}
.container__product--toCart,
.container__product--homeReturn {
	@include mainDesign;
	@include btnDesign;
	margin: 1em;
}

//Bouton passer la commande
.button__form {
	@include btnDesign;
	@include mainDesign;
	margin: 1em;
}


//bouton retirer du panier
.removeFromCart {
	@include btnDesign;
	@include mainDesign;
}