//règle générale pour les boutons et les liens
button, a {
	cursor: pointer;
	text-decoration: none;
	color: $color-text;
	font-family: $ff-title;
	text-align: center;
}

// page d'accueil container des deux boutons voir et achat rapide
.container__buttons--flex {
	width: 90%;
	margin: 5%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
// bouton voir le produit
.button__seeProduct {
	@include mainDesign;
	@include btnDesign;
	width: 100%;
	margin-right: 5%;
}
// bouton achat rapide
.button__quickCart {
	font-size: 2em;
	padding: 1em 0 1em 1em;
	margin-right: 3%;
	cursor: pointer;
}

//Bouton page produit pour retour au catalogue et ajout panier
.container__product--buttons {
	width: 100%;
	padding-top:2em;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
			align-content: center;
	}
}
//Design boutons retour au catalogue et ajout au panier
.button__product--toCart,
.container__product--homeReturn, 
.container__order--homeReturn {
	@include mainDesign;
	@include btnDesign;
	margin: 1em 5%;
}
//Bouton passer la commande
.button__form {
	@include btnDesign;
	@include mainDesign;
	margin: 1em;
}
