.fa-shopping-cart, .fa-cart-plus, .fa-info-circle, .fa-exclamation-triangle  {
background: linear-gradient(120deg, #e38912e6, #b36f98e6, #8f5bfecc);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 0.35em;
}
