.fa-shopping-cart, .fa-cart-plus {
background: linear-gradient(120deg, rgba(227, 137,18,0.9), rgba(179, 111, 152,0.9), rgba(143, 91, 254,0.8));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 0.35em;
}
