// Mise en page de la partie principale page panier
.main__basket--background {
    position:relative;

}.main__basket--background::after {
    content:"";
    background-image: url('images/background.png');
    filter: grayscale(90%);
    opacity:0.2;
    overflow-x:hidden;
    position: absolute;
    background-size: cover;
    background-position: 40% 60%;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}