// Mise en page de la partie principale page panier
.main__cart--background {
	position: relative;
}
.main__cart--background::after {
	content: "";
	background-image: url("/images/background.png");
	filter: grayscale(90%);
	opacity: 0.2;
	overflow-x: hidden;
	position: absolute;
	background-size: cover;
	background-position: 40% 60%;
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#contenant__panier {
	width: 80%;
	background-color: rgba(255, 255, 255, 0.5);
}
