// Mise en page de la partie principale page panier
.main__cart--background {
	position: relative;
}
.main__cart--background::after {
	content: "";
	background-image: url("Images/background.png");
	filter: grayscale(90%);
	opacity: 0.2;
	overflow-x: hidden;
	position: absolute;
	background-size: cover;
	background-position: 40% 60%;
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

//titres
.title__cart,
.title__form {
	font-size: $fz-h1;
}

//contenant global du panier (fond polaroid)
.container__cart--empty,
.container__cart--full {
	@include designBox;
	font-size: $fz-h3;
	opacity: 0.7;
	margin-bottom: 5em;
}
//Conteneur des articles du panier vide
.container__cart--empty {
	@include dispoCenter;
}

//Container du panier rempli
.container__cart--table {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media all and (min-width: 1024px) {
	flex-direction: row;
	}
	
}
.flexcontainer__cart--table {
	display: flex;
	flex-direction: column;
	width:100%;
	margin-bottom: 2em;
	padding: 1%;
}

// Nom d'article/Prix unitaire/Quantité/Prix total
.title__cart--table {
	font-weight: 700;
	border-bottom: $color-text 1px dashed;
	margin-bottom: 1em;
}

//contenant pour les div avec image ou bouton
.subContent__cart--table {
	display: flex;
	width: 100%;
}
.spaceB__cart--table {
	flex-direction: column;
	justify-content: center;
	@media all and (min-width: 768px){
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}
}
.img__cart--table {
		width: 20%;
		height:20%;
		margin-right: 5%;
}
.price__cart--table {
	justify-content: flex-end;
	align-content: center;
}
.countItems__cart--table{
	text-align: center;
	margin-bottom: 1em;
	@include mainDesign;
	@include btnDesign;
	@media all and (min-width:768px) {
		margin-bottom: 0;
	}
}




//contenant global du formulaire
.container__form {
	@include designBox;
	opacity: 0.7;
	@include dispoCenter;
	margin-bottom: 3em;
}
//contenant balise form
.container__form--flex {
	@include dispoCenter;
	width: 100%;
}
//partie civilité - coordonnées - adresse - commentaires
.fieldset__form {
	font-size: $fz-h3;
	display: flex;
	width: 90%;
	padding: 5%;
	margin: 2em 0;
}
//légende des fieldsets
.legend__form {
	font-size: $fz-h2;
	font-family: $ff-title;
}
// contenant de chaque sous-partie contenant label+input
.subpart__form {
	margin-bottom: 1.5em;
}
//label
.label__form,
.p__form {
	font-family: $ff-text;
	font-size: $fz-p;
}
//Input classique
.input__form {
	@include input;
	height: 3em;
}
//textarea
.textarea__form {
	@include input;
	height: 6em;
}

//Contenant Monsieur-Madame
//Input radio
.container__form--sex {
	margin-bottom: 1.5em;
}
//Monsieur-Madame__form
.monsieur__form,
.madame__form {
	font-family: $ff-text;
	display: flex;
	flex-direction: row;
	margin: 0.5em;
}
.radio__form {
	@include input;
}
