//titre
.title__purchase {
	font-size: $fz-h1;
}
//contenant du panier
.container__purchase {
	@include designBox;
	opacity: 0.7;
	margin-bottom: 5em;
}
//ordre du chèque
label span{
	font-style: italic;
	font-size: $fz-h2;
}