// Mise en page de la partie principale page produit
.main__product--background {
	position: relative;
}
.main__product--background::after {
	content: "";
	background: url("Images/backgroundProduct.png");
	filter: grayscale(90%);
	opacity: 0.4;
	overflow-x: hidden;
	position: absolute;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

// Contenant de la fiche produit
.container__product {
	width: 90%;
	@include designBox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	padding: 2em 1em;
	margin: 2em 0;
}
//Titre du produit
.container__product--title {
	font-size: $fz-h2;
}
//image du produit
.container__product--image {
	width: 90%;
	padding: 1.5em 0 1em;
}
//Description du produit
.container__product--description {
	font-size: $fz-p;
	margin: 5%;
}
//choix des optiques
.container__product--lenses {
	font-size: $fz-p;
	padding: 1em 0;
}
//Prix du produit
.container__product--price {
	font-size: $fz-p;
	font-weight: bold;
}
