/* Mise en page de la partie principale page produit */
.main__product--background {
	position: relative;
}
.main__product--background::after {
	content: "";
	background: url("Images/backgroundProduct.png");
	filter: grayscale(90%);
	opacity: 0.4;
	overflow-x: hidden;
	position: absolute;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: repeat;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
/* Mise en page */
.main__content--product {
	min-height: 100vh;
}
/* Contenant de la fiche produit */
.container__product {
	@include designBox;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding: 2em 1em;
	margin: 2em 0;
}
/* Image du produit */
.container__product--image {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1.5em 0 1em;
}
/* Référence produit */
.container__product--ref{
	font-size: $fz-ref;
	@include marginProduct;
}
/* Titre du produit */
.container__product--title {
	font-size: $fz-h3;
}
/* Description du produit */
.container__product--description {
	font-size: $fz-p;
	@include marginProduct;
}
/* choix des optiques */
.container__product--lenses {
	font-size: $fz-p;
	@include marginProduct;
}
/* Sélection*/
.container__product--select {
	font-family: $ff-text;
	@include btnDesign;
	@include mainDesign;
	margin: 1em 0;
	width: 100%;
	@media all and (min-width:768px) {
		width:auto;
	}
}
/* Prix du produit */
.container__product--price {
	font-size: $fz-p;
	@include marginProduct;

}