// Emploi flexbox pour centrer en colonne
@mixin dispoCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
//Header et footer
@mixin mainDesign {
	background-color: #f3e9f1;
	font-family: $ff-title;
	color: $color-text;
}
//Design de boutons
@mixin btnDesign {
	border: 1px solid $color-main;
	border-radius: 20px 20px;
	padding: 0.6em 1.3em;
	font-size: $fz-btn;
}
//Format polaroid
@mixin designBox {
	background-color: #fffff9;
	padding: 1.5em 0.2em 2em 0.2em;
	box-shadow: 1px 1px 3px #8b8b8b;
	width: 90%;
	border-radius: 5px;
}
//format input
@mixin input {
	font-family: $ff-text;
	font-weight: 200;
	margin: 1em 0;
	width: 100%;
}
//marge des div de la page produit
@mixin marginProduct {
	margin: 1em 5%;
}