//Texte
$fz-base:16px;
$fz-h1:1.728em;
$fz-h2:1.44em;
$fz-h3:1.2em;
$fz-btn : 1.1em;
$fz-p: 1em;
$fz-ref:0.8em;
$fz-li:1em;

$ff-title :'Caveat Brush', cursive;
$ff-text : "Raleway", sans-serif;

//couleurs
$color-text:#3d3d3d;